@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-bg);
  box-shadow: 0 5px 5px 0 var(--color-secondary);
  padding: 18px 24px;
  width: 330px;
  height: 500px;
}

@media screen and (max-width: 830px) {
  .container {
    width: 100%;
  }
}

.image {
  margin-bottom: 26px;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.body {
  height: 200px;
  overflow: scroll;
}

.description {
  margin-top: 6px;
  font-size: 14px;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 14px;
  border-radius: 100px;
  background: var(--color-secondary);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 14px;
  text-decoration: underline;
}
