:root {
  /* Colours */
  --color-text: #000;
  --color-text-secondary: #fff;
  --color-primary: #576cbc;
  --color-secondary: #f6f0f0;
  --color-dark: #000;
  --color-bg: #fff;
  /* #04152d; */

  /* Fonts */
  --font-roboto: "Roboto";
  --font-dosis: "Dosis Variable";
}
